%h1 Group Profile
%p Name: #{@group.name}
%br
- @group.volunteers.each do |volunteer|
  %br
  = link_to "#{volunteer.name}", link_to group_volunteer_path(@group, volunteer)
= link_to "Group Index (Back)", groups_path(@group)