%h1
%a.btn.btn-info.btn-lg{:href => "groups"} Group Database
%a.btn.btn-warning.btn-lg{:href => "jobs"} Job Database
%br
%br
%br
- if volunteer_signed_in?
  %li
    = link_to('Logout', destroy_volunteer_session_path, :method => :delete)
- else
  %li
    = link_to('Login', new_volunteer_session_path)
