%h1 Welcome to The Iron Task Manager

/ = link_to('Logout', destroy_volunteer_session_path, :method => :delete)

= link_to('Login', new_volunteer_session_path)

= link_to('Signup', new_volunteer_registration_path)
